
Data/img/book-org.svg
Data/img/book_cover.jpg
Data/img/cat1.jpg
Data/img/catdog.jpg
Data/img/chapter01/1.1_koebel.jpg
Data/img/chapter02/2.1_jupyter.jpg
Data/img/chapter03/3.11_capacity_vs_error.svg
Data/img/chapter03/3.11_output1.png
Data/img/chapter03/3.11_output2.png
Data/img/chapter03/3.11_output3.png
Data/img/chapter03/3.12_output1.png
Data/img/chapter03/3.12_output2.png
Data/img/chapter03/3.12_output3.png
Data/img/chapter03/3.12_output4.png
Data/img/chapter03/3.13_dropout.svg
Data/img/chapter03/3.14_forward.svg
Data/img/chapter03/3.16_house_pricing.png
Data/img/chapter03/3.16_kaggle.png
Data/img/chapter03/3.16_kaggle_submit.png
Data/img/chapter03/3.16_output1.png
Data/img/chapter03/3.16_output2.png
Data/img/chapter03/3.16_output3.png
Data/img/chapter03/3.1_linreg.svg
Data/img/chapter03/3.2_output1.png
Data/img/chapter03/3.4_softmaxreg.svg
Data/img/chapter03/3.5_output1.png
Data/img/chapter03/3.6_output1.png
Data/img/chapter03/3.8_mlp.svg
Data/img/chapter03/3.8_relu.png
Data/img/chapter03/3.8_relu_grad.png
Data/img/chapter03/3.8_sigmoid.png
Data/img/chapter03/3.8_sigmoid_grad.png
Data/img/chapter03/3.8_tanh.png
Data/img/chapter03/3.8_tanh_grad.png
Data/img/chapter05/5.11_residual-block.svg
Data/img/chapter05/5.12_densenet.svg
Data/img/chapter05/5.1_correlation.svg
Data/img/chapter05/5.2_conv_pad.svg
Data/img/chapter05/5.2_conv_stride.svg
Data/img/chapter05/5.3_conv_1x1.svg
Data/img/chapter05/5.3_conv_multi_in.svg
Data/img/chapter05/5.4_pooling.svg
Data/img/chapter05/5.5_lenet.png
Data/img/chapter05/5.6_alexnet.png
Data/img/chapter05/5.8_nin.svg
Data/img/chapter05/5.9_inception.svg
Data/img/chapter06/6.10_birnn.svg
Data/img/chapter06/6.2_rnn-train.svg
Data/img/chapter06/6.2_rnn.svg
Data/img/chapter06/6.5.png
Data/img/chapter06/6.6_rnn-bptt.svg
Data/img/chapter06/6.7_gru_1.svg
Data/img/chapter06/6.7_gru_2.svg
Data/img/chapter06/6.7_gru_3.svg
Data/img/chapter06/6.8_lstm_0.svg
Data/img/chapter06/6.8_lstm_1.svg
Data/img/chapter06/6.8_lstm_2.svg
Data/img/chapter06/6.8_lstm_3.svg
Data/img/chapter06/6.9_deep-rnn.svg
Data/img/chapter07/7.1_output1.svg
Data/img/chapter07/7.1_output2.svg
Data/img/chapter07/7.1_output3.svg
Data/img/chapter07/7.2_output1.svg
Data/img/chapter07/7.2_output2.svg
Data/img/chapter07/7.2_output3.svg
Data/img/chapter07/7.2_output4.svg
Data/img/chapter07/7.2_output5.svg
Data/img/chapter07/7.3_output1.png
Data/img/chapter07/7.3_output2.png
Data/img/chapter07/7.3_output3.png
Data/img/chapter07/7.3_output4.png
Data/img/chapter07/7.4_output1.png
Data/img/chapter07/7.4_output2.png
Data/img/chapter07/7.4_output3.png
Data/img/chapter07/7.4_output4.png
Data/img/chapter07/7.4_output5.png
Data/img/chapter07/7.4_output6.png
Data/img/chapter07/7.4_output7.png
Data/img/chapter07/7.4_output8.png
Data/img/chapter07/7.5_output1.png
Data/img/chapter07/7.5_output2.png
Data/img/chapter07/7.5_output3.png
Data/img/chapter07/7.5_output4.png
Data/img/chapter07/7.6_output1.png
Data/img/chapter07/7.6_output2.png
Data/img/chapter07/7.6_output3.png
Data/img/chapter07/7.7_output1.png
Data/img/chapter07/7.7_output2.png
Data/img/chapter07/7.8_output1.png
Data/img/chapter07/7.8_output2.png
Data/img/chapter09/9.11_neural-style.svg
Data/img/chapter09/9.11_output1.png
Data/img/chapter09/9.11_output2.png
Data/img/chapter09/9.11_output3.png
Data/img/chapter09/9.11_output4.png
Data/img/chapter09/9.11_style-transfer.svg
Data/img/chapter09/9.1_output1.png
Data/img/chapter09/9.1_output10.png
Data/img/chapter09/9.1_output2.png
Data/img/chapter09/9.1_output3.png
Data/img/chapter09/9.1_output4.png
Data/img/chapter09/9.1_output5.png
Data/img/chapter09/9.1_output6.png
Data/img/chapter09/9.1_output7.png
Data/img/chapter09/9.1_output8.png
Data/img/chapter09/9.1_output9.png
Data/img/chapter09/9.2_finetune.svg
Data/img/chapter09/9.2_output1.png
Data/img/chapter09/9.3_output1.png
Data/img/chapter09/9.3_output2.png
Data/img/chapter09/9.4_anchor-label.svg
Data/img/chapter09/9.4_iou.svg
Data/img/chapter09/9.4_output1.png
Data/img/chapter09/9.4_output2.png
Data/img/chapter09/9.4_output3.png
Data/img/chapter09/9.4_output4.png
Data/img/chapter09/9.5_output1.png
Data/img/chapter09/9.5_output2.png
Data/img/chapter09/9.5_output3.png
Data/img/chapter09/9.6_output1.png
Data/img/chapter09/9.8_fast-rcnn.svg
Data/img/chapter09/9.8_faster-rcnn.svg
Data/img/chapter09/9.8_mask-rcnn.svg
Data/img/chapter09/9.8_r-cnn.svg
Data/img/chapter09/9.8_roi.svg
Data/img/chapter09/9.9_output1.png
Data/img/chapter09/9.9_output2.png
Data/img/chapter09/9.9_segmentation.svg
Data/img/chapter10/10.10_beam_search.svg
Data/img/chapter10/10.10_s2s_prob1.svg
Data/img/chapter10/10.10_s2s_prob2.svg
Data/img/chapter10/10.11_attention.svg
Data/img/chapter10/10.1_cbow.svg
Data/img/chapter10/10.1_skip-gram.svg
Data/img/chapter10/10.2_hi-softmax.svg
Data/img/chapter10/10.8_conv1d-2d.svg
Data/img/chapter10/10.8_conv1d-channel.svg
Data/img/chapter10/10.8_conv1d.svg
Data/img/chapter10/10.8_textcnn.svg
Data/img/chapter10/10.9_seq2seq.svg
Data/img/cover.png
Datasets/CIFAR/cifar-10-batches-py/batches.meta
Datasets/CIFAR/cifar-10-batches-py/data_batch_1
Datasets/CIFAR/cifar-10-batches-py/data_batch_2
Datasets/CIFAR/cifar-10-batches-py/data_batch_3
Datasets/CIFAR/cifar-10-batches-py/data_batch_4
Datasets/CIFAR/cifar-10-batches-py/data_batch_5
Datasets/CIFAR/cifar-10-batches-py/readme.html
Datasets/CIFAR/cifar-10-batches-py/test_batch
Datasets/CIFAR/cifar-10-python.tar.gz
